.quadrante05 {
    background-color: black;
    position: absolute;
    /* Alterado de absolute para relative */
    margin-top: 187%;
    /* Use margens para ajustar a posição */
    background-size: cover;
    width: 100%;
    /* Garante que o elemento ocupe 100% da largura */
    height: 100%;
    /* Define a altura como 100% da altura da janela */





}


.fundocolorido {
    position: absolute;
    margin-top: 20%;
    width: 100%;
    height: 00px;
    left: 100px;
    transform: rotate(30deg);

    filter: blur(9px);

    overflow: hidden;

}

.mulherbebendoagua {
    position: absolute;
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
    margin-top: 15%;
    height: 600px;
    left: 50px;


}

.container5 {

    margin-top: 20%;
    position: absolute;
    margin-left: 50%;
    background-color: aliceblue;
    height: 400px;
    width: 500px;
    border-radius: 20px;

}

.dicatitulo {
    top: 50px;
    position: relative;
    color: #FD288D;
    text-align: center;
    font-size: 36px;
    margin: 0;
    /* Remove margens padrão */
    line-height: 1;
    /* Ajusta o espaçamento vertical entre as linhas */
    font-family: 'Open Sans', sans-serif;

}

.dicaparagrafo {
    top: 70px;
    position: relative;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /* Remove margens padrão */
}

.btnsaibamais {
    top: 110px;
    cursor: pointer;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-color: #fd288d;
    font-family: "DM Sans", sans-serif;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
}

@media (min-width: 320px) {
    .quadrante05 {

        margin-top: 1010%;
        /* Use margens para ajustar a posição */


    }

    .fundocolorido,
    .mulherbebendoagua {
        display: none;
    }

    .container5 {

        margin-left: 12%;
        height: 400px;
        width: 250px;


    }

    .dicatitulo {

        font-size: 26px;


    }

    .dicaparagrafo {
        margin-top: 10%;
        font-size: 12px;

        /* Remove margens padrão */
    }

    .btnsaibamais {
        margin-top: 10%;
        width: 200px;
        margin-left: 25px;
    }

}

@media (min-width: 352px) and (max-width: 425px) {
    .quadrante05 {

        margin-top: 860%;
        /* Use margens para ajustar a posição */


    }


}

@media (min-width: 352px) and (max-width:364px) {
    .quadrante05 {

        margin-top: 800%;
        /* Use margens para ajustar a posição */


    }


}

@media (min-width: 380px) {
    .quadrante05 {

        margin-top: 770%;
        /* Use margens para ajustar a posição */


    }


}

@media (min-width: 411px) {
    .quadrante05 {

        margin-top: 765%;
        /* Use margens para ajustar a posição */


    }

    .container5 {

        margin-left: 20%;
        height: 400px;
        width: 250px;


    }

}

@media (min-width:427px) {
    .quadrante05 {

        margin-top: 965%;


    }

    .fundocolorido,
    .mulherbebendoagua {
        display: none;
    }

    .container5 {

        margin-left: 40%;
        height: 700px;
        width: 550px;


    }

    .dicatitulo {
        margin-top: 10%;
        font-size: 36px;


    }

    .dicaparagrafo {
        margin-top: 15%;
        font-size: 25px;

        /* Remove margens padrão */
    }

    .btnsaibamais {
        margin-top: 5%;
        width: 500px;
        height: 70px;
        font-size: 20px;
        margin-left: 25px;
    }

}