.container {
    background-color: #2B1821;
    margin-top: 1313px;
    background-size: cover;
    /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    position: absolute;
    background-position: center;
    /* Centraliza a imagem */
    width: 100%;
    /* Garante que o elemento ocupe 100% da largura */
    height: 2000px; /* Alterado para uma altura maior */
}



.title {
    color: #ececec;
    position: relative;
    text-align: center;
    font-size: 36px;
    top: 4%;
    font-family: 'Open Sans', sans-serif;

}

.imagens {
    display: flex;
    justify-content: center;
    gap: 200px;
    height: 20%;
   


}



.quadrantes {
    display: flex;
    justify-content: center;
    gap: 70px;
}


.container1 {
    color: white;
    box-sizing: border-box;
    width: 25%;
    border: solid gray 2px;
    border-radius: 10px;
    padding: 5px;

}

.container2 {
    color: white;
    box-sizing: border-box;
    width: 25%;
    border: solid gray 2px;
    border-radius: 10px;
    padding: 5px;

}

.container3 {

    color: white;
    box-sizing: border-box;
    width: 25%;
    border: solid gray 2px;
    border-radius: 10px;
    padding: 5px;

}

p {
    text-align:center;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.quadrantes{
    animation-duration: 5s;
    animation-name:slidein;
    animation-iteration-count: initial;
}
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
    
@media (min-width: 320px) and (max-width: 568px) {
    .container {
        margin-top:350%;
       
    }
    
  }