.quadro07 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../quadrante07/imgfinalquadrante/bacgroundfinal.jpg");
    margin-top:290%;
    background-size: cover;
    /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    position: absolute;
    background-position: center;
    /* Centraliza a imagem */
    width: 100%;
    /* Garante que o elemento ocupe 100% da largura */
    height: 100vh;
    /* Define a altura como 100% da altura da janela */

}


.fale_conosco {

    color: #FD288D;
    position: relative;
    text-align: left;
    margin-left: 15%;
    font-size: 36px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    top: 30%;
    font-family: 'Open Sans', sans-serif;
}

.telefone {
    gap: 10px;
    display: flex;
    margin-top: 19%;
    margin-left: 15%;



}

.tel {
    color: #FD288D;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.email {
    gap: 10px;
    display: flex;

    margin-left: 15%;

}

.em {
    color: #FD288D;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.redes {
    gap: 10px;
    display: flex;
    margin-left: 15%;

}

.social {
    color: #FD288D;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;


}

.instagram {
    cursor: pointer;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.facebook {
    cursor: pointer;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .quadro07 {

        margin-top: 1750%;
    
    }
    .fale_conosco {
        top: 20%;
        
    }
    .tel {
        margin-top: -0,9%;
    }
.telefone{
margin-top: 50%;}
    
}
@media (min-width: 326px) and (max-width: 425px) {
    .quadro07 {

        margin-top: 1740%;
    
    }
   
    
}
@media (min-width: 352px) and (max-width: 425px) {
    .quadro07 {

        margin-top: 1440%;
    
    }
   
    
}
@media (min-width: 352px) and (max-width: 364px) {
    .quadro07 {

        margin-top: 1400%;
    
    }
   
    
}
@media (min-width: 380px)  {
    .quadro07 {

        margin-top: 1400%;
    
    }
   
    
}@media (min-width: 411px)  {
    .quadro07 {

        margin-top: 1360%;
    
    }
   
    
}