.quadrante06 {
    background-color: #2B1821;
    margin-top: 239%;
    background-size: cover;
    /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    position: absolute;
    background-position: center;
    /* Centraliza a imagem */
    width: 100%;
    /* Garante que o elemento ocupe 100% da largura */
    height: 1000px;
    /* Alterado para uma altura maior */

}

.title6 {
    color: #FD288D;
    position: relative;
    text-align: center;
    font-size: 36px;
    top: 1%;
    font-family: 'Open Sans', sans-serif;
}

.quadrantes6 {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 70px;

}

.quadrantecontainer1 {
    color: white;
    box-sizing: border-box;
    width: 25%;
    border: solid gray 2px;
    border-radius: 10px;
    padding: 5px;
}

.quadrantecontainer2 {
    color: white;
    box-sizing: border-box;
    width: 25%;
    border: solid gray 2px;
    border-radius: 10px;
    padding: 5px;
}

.quadrantecontainer3 {
    color: white;
    box-sizing: border-box;
    width: 25%;
    border: solid gray 2px;
    border-radius: 10px;
    padding: 5px;
}

.depoimento1 {
    margin-top: 50px;
    text-align: start;
    margin-left: 15%;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.depoimento2 {
    margin-top: 50px;
    text-align: start;
    margin-left: 15%;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.depoimento3 {
    margin-top: 50px;
    text-align: start;
    margin-left: 15%;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.pessoa1 {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: start;

    font-size: 17px;
    color: #FD288D;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.pessoa2 {
    margin-top: 50px;
    text-align: start;

    font-size: 17px;
    color: #FD288D;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.pessoa3 {
    margin-top: 50px;
    text-align: start;

    font-size: 17px;
    color: #FD288D;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 425px) {
    .quadrante06 {

        height: 1800px;
    }

    .quadrante06 {

        margin-top: 1190%;


    }

    .quadrantes6 {
        flex-direction: column;

    }

    .quadrantecontainer1 {
        margin-top: 20%;
        width: 80%;
        margin-left: 30px;
        margin-right: 10px
    }

    .quadrantecontainer2 {
        margin-top: 20%;
        width: 80%;
        margin-left: 30px;
        margin-right: 10px
    }

    .quadrantecontainer3 {
        margin-top: 20%;
        width: 80%;
        margin-left: 30px;
        margin-right: 10px
    }


}

@media (min-width: 352px) and (max-width: 425px) {
    .quadrante06 {

        margin-top: 1010%;
 

    }


}

@media (min-width: 352px) and (max-width: 364px) {
    .quadrante06 {

        margin-top: 950%;


    }


}

@media (min-width: 380px) {
    .quadrante06 {

        margin-top: 950%;


    }


}

@media (min-width:427px) {
    .quadrante06 {

        height: 1950px;
        width: 220%;

    }
    .title6 {
    
        font-size: 56px;

    }
    .quadrante06 {

        margin-top: 1190%;


    }

    .quadrantes6 {
        flex-direction: column;

    }

    .quadrantecontainer1 {
        margin-top: 10%;
        width: 80%;
        margin-left: 100px;
        margin-right: 10px
    }

    .quadrantecontainer2 {
        margin-top: 10%;
        width: 80%;
        margin-left: 100px;
        margin-right: 10px
    }

    .quadrantecontainer3 {
        margin-top: 10%;
        width: 80%;
        margin-left: 100px;
        margin-right: 10px
    }
    .depoimento1 {
        margin-top: 50px;
        text-align: start;
        margin-left: 15%;
        font-size: 20px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    .depoimento2 {
        margin-top: 50px;
        text-align: start;
        margin-left: 15%;
        font-size: 16px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    .depoimento3 {
        margin-top: 50px;
        text-align: start;
        margin-left: 15%;
        font-size: 16px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    .pessoa1 {
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: start;
    
        font-size: 17px;
        color: #FD288D;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    
    .pessoa2 {
        margin-top: 50px;
        text-align: start;
    
        font-size: 17px;
        color: #FD288D;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    
    .pessoa3 {
        margin-top: 50px;
        text-align: start;
    
        font-size: 17px;
        color: #FD288D;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

}



