.app-bar {
    position: relative;
    background-color: rgb(20, 1, 1);
    margin-top: -0.2%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1%;
    padding: 10px;
    width: 100%;
    z-index: 10;
}

.logo {
    margin-top: 1%;
    margin-left: 6%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tituloAppBar {
    color: beige;
    font-family:'Pacifico';
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 2%;
    font-size: 25px;
    display: flex;
    
}

.menu {
    margin-right: 10%;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-left: auto;
  
}

.menu-item {
    letter-spacing: 2px;
    font-weight:300;
    color: beige;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    padding: 5px 10px;
}

.menu-item:hover {
    background-color: rgba(48, 45, 45, 0.644);

    transform: scale(1.1);

    box-shadow: 0 4px 6px #fffdfdc0;

    backdrop-filter: blur(10px);

}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    align-items: flex-end;
    margin-left: auto;
}

.burger-bar {
    margin-right: 70%;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: 0.4s;
}

@media (max-width: 768px) {

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0px;
        background-color: rgba(48, 45, 45, 0.8);
        width: 200px;
        padding: 1em;
        border-radius: 5px;
    }

    .menu.visible {
        display: flex;
        align-items: center;
        background-color: rgba(48, 45, 45, 0.8);
    }

    .burger-menu {
        display: flex;
    }

    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .burger-bar.clicked:nth-child(2) {
        opacity: 0;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .burger-bar.unclicked {
        transform: rotate(0);
        opacity: 1;
    }
}