* {
    background-color: black;

}

.app-bar {
    margin-top: -8%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 2%;



}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

.tituloAppBar {
    color: beige;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-right: 55%;
    display: flex;

}

.info {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* Alterado de 100% para 50px */
    margin-left: auto;
    /* Substituir 100% por 'auto' para alinhar corretamente */
}



/* Menu padrão oculto */
.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    color: beige;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    padding: 5px 10px;

}

.menu-item:hover {
    background-color: rgba(48, 45, 45, 0.8);
    height: 50%;
  
    transform: scale(1.1);


}

.burger-menu {
    display: none;
    /* Oculto em telas grandes */
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger-bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: 0.4s;
}

/* Menu hambúrguer para telas menores */
@media (max-width: 768px) {
    .menu {
        display: none;
        /* Oculta os itens do menu */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgb(37, 39, 53);
        width: 200px;
        padding: 1em;
        text-align: left;
        border-radius: 5px;
    }

    .menu.visible {
        display: flex;
        /* Exibe quando ativado */
    }

    .burger-menu {
        display: flex;
        /* Mostra o menu hambúrguer */
    }

    /* Animação do ícone hambúrguer */
    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .burger-bar.clicked:nth-child(2) {
        opacity: 0;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .burger-bar.unclicked {
        transform: rotate(0);
        opacity: 1;
    }
}