* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal */
  }
  
  .quadrantesPages {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .quadrante {
    width: 100%;
    min-height: 100vh; /* Cada quadrante ocupa 100% da altura da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .quadrante {
      min-height: auto; /* Permite ajuste dinâmico em telas menores */
      padding: 1px;
    }
  }
  