.quadro2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0.5)), url("../../images/fundo.png");
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-position: center; /* Centraliza a imagem */
  position: relative;
  width: 100%; /* Garante que o elemento ocupe 100% da largura */
  height: 100vh; /* Define a altura como 100% da altura da janela */
  overflow: hidden; /* Evita rolagem desnecessária */
  display: flex; /* Ativa o flexbox */
  flex-direction: column; /* Alinha itens verticalmente */
  align-items: center; /* Centraliza conteúdo horizontalmente */
  justify-content: center; /* Centraliza conteúdo verticalmente */
 
}

.titulo {
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
  color: #ff0000;
  text-align: center;
  font-size: 60px; /* Usa unidades responsivas para o tamanho da fonte */
  line-height: 1.2; /* Ajusta o espaçamento vertical entre as linhas */
  font-family: 'Open Sans', sans-serif;
  margin-top: 15%;
}

.paragrafo {
  padding:10% ;
  color: #ffffff;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.10em;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  font-size: 30px; /* Usa unidades responsivas para o tamanho da fonte */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; /* Ajusta o espaçamento vertical entre as linhas */
  margin-top: -10%;


}

