body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.quadrantesPages {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quadrante {
  width: 100%;
  min-height: 100vh; /* Cada quadrante ocupa a tela inteira */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 966px) {
  .quadrantesPages {
    width: 140%;

  }
}
@media (max-width:765px) {
  .quadrantesPages {
    width: 95%;

  }
}
