

.App-header {
  background-color: black;                  /*cor de fundo*/
  min-height: 100vh;                          /* define a altura mínima de um elemento em relação à altura visível da tela*/
  display: flex;                              /*organizar elementos em uma página da web de forma flexíve*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
