.quadrantesPages {
    display: flex;
    flex-direction: column; /* Organiza os itens em uma coluna */
    gap: 16px; /* Espaçamento entre os quadrantes (opcional) */
    padding: 16px; /* Espaçamento interno (opcional) */
  }
  