.containerQuadrante01{
    align-items: center;
    background-color: #3b3737;
    margin-top: -0.1%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 10px;
    width: 100%;
}


.quadrante1 {
    position: flex;
    margin-left: 15%;
    margin-top: 10%;

}

.Texto_principal {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    font-size: 62px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 50%; /* Ajusta o tamanho do texto ao contêiner */
}
.pargrafo_quadrante1 {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    font-size: 21.5px;
    text-align: start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 50%;
    
   


}

.infobutton {

    cursor: pointer;
    position: absolute;
    width: 20%;
    height: 10%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: #fd288d;
    font-family: "DM Sans", sans-serif;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}
.celular {
    filter: drop-shadow(0 0 1rem rgb(238, 237, 236));
    margin-top: -34%;
    width: 35%;
    height: 72%;
    display: flex; 
   margin-left: 63%;
   position: absolute;
}
.slider-image {
    transition: opacity 0.5s ease-in-out;
    display: flex;
    margin-top: -0.2%;
    width:  15%;
    height:62%;
    margin-left: 73%;
    position: absolute;
    border-radius: 25px;
}


.infobutton:before {
    content: '';
    background: linear-gradient(45deg, #ff00c8, #ffffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.infobutton:active {
    color: #000
}

.infobutton:active:after {
    background: transparent;
}

.infobutton:hover:before {
    opacity: 1;
}

.infobutton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



.acesasorios{
display: flex;
margin-left: 69%;
width: 80%;
margin-top: -40%;
position: relative;


}

























