body {
    background-color: black;
    overflow: auto;
    flex-direction: column;
    /* Empilha as páginas */
    margin: 0;
    /* Remove margens extras */
    overflow-x: hidden;
    margin-bottom: 10%;
    flex-wrap: wrap;
    /* Permite que os itens quebrem linha */

}

.app-bar {

    cursor: pointer;
    display: flex;
    color: beige;
    position: absolute;
    gap: 2%;
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
}

.logo {
    cursor: pointer;
    width: 5%;
    height: 5%;
    border-radius: 100%;
    position: relative;
    top: 10px;
}

.quadrante1 {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;

}

.Texto_principal {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    font-size: 62.9px;

}

.pargrafo_quadrante1 {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    font-size: 21.5px;
    text-align: start;


}

.infobutton {

    cursor: pointer;
    position: absolute;
    width: 60%;
    height: 13%;
    border-radius: 20px;
    background-color: #fd288d;
    font-family: "DM Sans", sans-serif;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}



.celular {
    filter: drop-shadow(0 0 1rem rgb(238, 237, 236));
    box-shadow: 1px 1px 1rem rgb(236, 235, 233);
    position: absolute;
    top: 10px;
    width: 40%;
    height: 90%;
    margin-left: 50%;
}




.slider-image {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    margin-top: 4%;
    width: 18%;
    height: 77%;
    /* Em vez de % use vh, se quiser uma altura relativa à altura da janela */
    margin-left: 61%;
    border-radius: 25px;
}

.acesasorios {
    margin: 0;
    /* Remove espaçamentos extras */
    text-align: center;
    position: absolute;
    /* Permite controle total da posição */
    height: 100%;
    align-items: end;
    margin-top: 29%;
    /* Centraliza verticalmente */
    margin-left: 80%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta o deslocamento devido ao `top` e `left` */
    z-index: -1;
    /* Envia o elemento para trás */
}






.infobutton:before {
    content: '';
    background: linear-gradient(45deg, #ff00c8, #ffffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.infobutton:active {
    color: #000
}

.infobutton:active:after {
    background: transparent;
}

.infobutton:hover:before {
    opacity: 1;
}

.infobutton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/*RESPONSIVIDADE*/

@media (min-width: 320px)  {

    .celular,
    .slider-image,
    .acesasorios {
        display: none;
    }

    .logo {

        width: 10%;
        height: 10%;

    }

    .app-bar {


        margin-left: 15%;

        font-size: 10px;
    }

    .Texto_principal {

        font-size: 42.9px;

    }

    .infobutton {
        width: 80%;
        margin-top: 10%;

    }



}

@media (min-width: 362px) and (max-width: 375px) {
    .logo {
        margin-left: -9%;
       

    }

    .app-bar {


        margin-left: 15%;

    }

    .Texto_principal {
        margin-top: 30%;

    }

    

}

@media (min-width:436px){
    .app-bar {
        font-size: 15px;
    }
    .logo {
        width: 15%; 
        top: 15px;
    }
    .Texto_principal {
        margin-top: 25%;
        margin-left: 10%;
        font-size: 82.9px;
       
    
    }
    .pargrafo_quadrante1 {
    
        margin-left: 10%;
        text-align: start;
        font-size: 28.5px;
    
    }
    .infobutton {

      
        width: 80%;
        margin-left: 10%;
        height: 13%;

        font-size: 25px;
       
    
    }
  
    
}
