


body{
    background-color: black;
    display: flex;
    overflow: auto;


}

.app-bar {
    display: flex;
    color: beige;
    position: absolute;
    
    gap: 10px;
    left: 80px;
    top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    top: 10px;
}

.quadrante1 {
    position: absolute;
    left: 80px;
    top: 100px;

}

.Texto_principal {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    font-size: 62.9px;

}

.pargrafo_quadrante1 {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    font-size: 21.5px;


}

.infobutton {

    cursor: pointer;
    position: absolute;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-color: #fd288d;
    font-family: "DM Sans", sans-serif;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;

}

.fundocolor {
    position: absolute;
    top: 150px;
    width: 400px;
    height: 400px;
    left: 55%;
    transform: rotate(30deg);
    /* Gira a imagem 20 graus */
    filter: blur(9px);
    /* Aplica um efeito de desfoque */
    overflow: hidden;



}

.celular {
    position: absolute;
    top: 10px;
    width: 580px;
    height: 590px;
    left: 50%;
}

.abdomen{
    position: absolute;
    top: 60px;
    width: 250px;
    height: 495px;
    left: 62%;
    border-radius: 10px;
}
.alter{
    position: absolute;
    top: 60px;
    width: 250px;
    height: 495px;
    left: 62%;
    border-radius: 10px;
}

.mulher{
    position: absolute;
    top: 60px;
    width: 250px;
    height: 495px;
    left: 62%;
    border-radius: 10px;
}

